#ttl {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: -cpt-pink;
}

#cnt {
    -fx-font-size: 14px;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: none;

    -fx-control-inner-background: -cpt-surface2;
    -fx-background-color: -cpt-surface2;

    -fx-text-fill: -cpt-text;

    -fx-background-radius: 10px;
}

.btn-bottom {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    -fx-cursor: hand;
}

.edit-btn {
    -fx-padding: 3 0 0 0;
}

.note-priority {
    -fx-opacity: 0.4;
}

#high {
    -fx-text-fill: -cpt-red;
}

#medium {
    -fx-text-fill: -cpt-yellow;
}

#low {
    -fx-text-fill: -cpt-green;
}

#adl {
    -fx-text-fill: -cpt-text;
    -fx-opacity: 0.3;

    -fx-font-size: 12px;
}

.note-card {
    -fx-padding: 10px;
    -fx-background-color: -cpt-surface1;
    -fx-background-radius: 10px;
}